/* 2. Modify the styles of all <h3> tags to have color blue and text alignment centered.*/
h3{
    color: blue;
    text-align: center;
}

/* 3. Modify the <div> with id main so to have background color whitesmoke, content align centered, and a margin and padding of 30 pixels. */

#main{
    background-color: whitesmoke;
    text-align: center;
    margin: 30px;
    padding: 30px;
}

/* 4. Create a new css class called alert that makes a container have the following look:   text color: #72353D;  
  background color: #EAD2D5; */

.alert {
    color: #72353D;
    background-color: #EAD2D5 ;
}
/* 5. Create two new <div> tags that have a height of 200 pixels and occupy 50% of the page and have blue and red color: */

.ej5 {
    height:200px;
    width: 50%;
}
#blue{
    color:blue;
}
#red{
    color:red;
}
/* 6.Change all the fonts to Verdana and font size to 1.5em */
body{
    font-family:Verdana;
    font-size: 1.5em;
}

/* 7. Modify the <div> tags created on 5] to have:a padding of 20px
a width of 40%
rounded borders of 50px
a rounded black border of 1px
it rotates 90 degrees */
#blue{
    padding:20px;
    width: 40%;
    border-radius:50px;
    border: 1px solid black;
    transform: rotate(90deg);
}

/* 8. Add a CSS animation of 5 seconds so the red rectangle becomes blue and the blue one becomes red. */
@keyframes Move {
    33% {
        background-color: red;
    }
    66% {
        background-color: blue;
    }
    100% {
        background-color: red;
    }
}
#blue{
    animation: Move 5s linear 0s infinite;
}
